*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

section {
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  padding: 10px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

li,
label {
  display: flex;
  align-items: center;
}

label {
  gap: 20px;
  cursor: pointer;
}

li {
  justify-content: space-between;
  padding: 20px;
}

li.overdue {
  background-color: pink;
}

li.ontime {
  background-color: lightgray;
}

li.completed {
  background-color: lightgreen;
}

input[type='checkbox'] {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

p.completed {
  text-decoration: line-through;
}
